<mat-toolbar>

  <span class="nav-title">University Portal</span>

  <span class="example-spacer"></span>

  <a mat-button routerLink="/dashboard" routerLinkActive="active-link">Dashboard</a>
  <a mat-button routerLink="/students" routerLinkActive="active-link">Students</a>
  <a mat-button routerLink="/courses" routerLinkActive="active-link">Courses</a>
  <a mat-button routerLink="/lecturers" routerLinkActive="active-link">Lecturers</a>
  <a mat-button routerLink="/enrollments" routerLinkActive="active-link">Enrollments</a>
</mat-toolbar>
