/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;  background: linear-gradient(to bottom right, #eff6ff, #e0e7ff); }
.mat-mdc-card {
  background-color: transparent;;
}
.mat-mdc-card-outlined{
    background-color: transparent;
}